

script(src="js/jquery.js")
script(src="js/jquery.waypoints.min.js")
script(src="js/pace.min.js")
script(src="js/lity.min.js")
script(src="js/scrollreveal.min.js")
//script(src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js")
script(src="js/app.js")