doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
        meta(name="description" content="Finflag | Solutions for the financial world")
        title Finflag | Solutions for the financial world
        meta(property="og:locale", content="en_US" )
        meta(property="og:type", content="website" )
        meta(property="og:title", content="" )
        meta(property="og:description", content="" )
        meta(property="og:url", content="www.finflag.com" )
        meta(property="og:site_name", content="FinFlags" )
        //meta(property="og:image", content="www.oncokdm.com/assets/socials.png" )
        meta(name="twitter:card", content="summary_large_image")
        meta(name="twitter:description", content="")
        meta(name="twitter:title", content="Finflag | Solutions for the financial world ")
        meta(name="twitter:site", content="www.finflag.com")
        meta(name="twitter:domain", content="finflag")
        meta(name="twitter:creator", content="finflag")
        //meta(name="twitter:image:src", content="www.oncokdm.com/assets/socials.png")
        link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700")
        link(rel="stylesheet",href="https://fonts.googleapis.com/css?family=Raleway:400,400i,500,600,700")
        link(rel='stylesheet', href='/style.css')
        link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
        link(rel="icon", href="/favicon.ico", type="image/x-icon")
