/* container
   ========================================================================== */

html, body{
  overflow-x: hidden;
  max-width: 100vw;
}

.container{
  width: 80%;
  margin: 0 auto;
}

.ff-land{
  width: 100%;
  height: 100vh;
  background: url('assets/img/background.png') no-repeat center center;
  background-size: cover;
}


.ff-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  text-align: center;
}


/* nav
   ========================================================================== */

.ff-nav{
  margin-top: 20px;
  font-size: 0;
}

.ff-logo{
  width: 250px;
  vertical-align: middle;
  img{
    max-width: 100%;
  }
}

.ff-links{
  font-family: $raleway;
  width: calc(100% - 250px);
  vertical-align: middle;
}

.ff-link{
  padding: 0 10px;
  font-size: 15px;
  font-weight: bold;
  transition: color 0.3s;
  &:hover{
    cursor: pointer;
    color: $blue;
  }
}


/* How content
   ========================================================================== */

.ff-content{
 text-align: center;
  p{
    font-size: 19px;
    line-height: 30px;
    font-weight: bold;
  }
}


/* how timeline
   ========================================================================== */
.ff-how{
  position: relative;
}

.ff-subtitle--card{
  margin-top: 200px;
}

.ff-how__container{
  &:after{
    display: block;
    position: absolute;
    content:'';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('assets/img/background_2.jpg') no-repeat center center;
  background-size: cover;
    opacity: 0.1;
    z-index: -1;
  }
}
.ff-how__timelines{
  font-size: 0;
  padding: 140px 0;
  position: relative;
  margin-top: 100px;
  &:after{
    display: block;
    width: 2px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    content: '';
    background: $blue;
  }
}

.ff-how__timeline{
  font-size: 30px;
  font-weight: bold;
  color: $blue;
  font-family: $raleway;
  margin-bottom: 80px;
  width: 50%;
  span{
    font-weight: 400;
    display: block;
  }


  &:nth-child(odd){
    margin-left: 50%;
    text-align :left;
    padding-left: 75px;
  }

  &:nth-child(even){
    margin-left: 0%;
    text-align :right;
    padding-right: 75px;
  }
}


.ff-content--crunching{
  text-align: left;
  p{
    margin-bottom: 20px;
  }
}


.ff-container--crunching{
  padding-bottom: 100px;
}



/* what
   ========================================================================== */
.ff-what{
  background: #f9f9f9;
  padding: 0 0 100px;
}

.ff-content--what{
  max-width: 50%;
  margin: 0 auto;
  text-align: justify;
  p{
    margin-bottom: 20px;
  }
}




/* references
   ========================================================================== */

.ff-references{
  padding: 150px 0 120px;
}

.ff-references__container{
  font-size: 0;
}

.ff-reference{
  display: inline-block;
  width: 25%;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 30px;
}

.ff-reference__img{
  width: 60%;
}


/* contact
   ========================================================================== */

.ff-contact{
  padding: 0px 0 120px;
  position: relative;
  font-family: $raleway;
}

.ff-contact__container{
  &:after{
    display: block;
    position: absolute;
    content:''; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('assets/img/background.png') no-repeat center center;
  background-size: cover;
    opacity: 0.1;
    z-index: -1;
  }
}

.ff-contact__form{
    transform: translateY(150px);
  width: 50%;
  margin: 0 auto;
  padding: 30px ;
  border-radius: 30px;
  background: #fff;
  box-shadow: 10px 10px 10px 2px rgba(0,0,0,0.1);
}


.ff-submit{
  color: $blue;
  background: #e8f1f8;
  border: none;
  padding: 10px 30px;
  font-size: 20px;
  text-transform: uppercase;
  border-radius: 30px;
  font-weight: bold;
  float: right;
  &:hover{
    cursor: pointer;
  }
}


/* waves
   ========================================================================== */
.ff-wave{

  left: 0;

  height: 400px;
  pointer-events: none;

  img{
    width: 100%;
  }
}

.ff-wave__top{
  width: 101%;
  position: absolute;
  top: -4px;
}


.ff-wave__bottom{
  height: 100%;
  width: 104%;
  position: relative;
  img{
    position: absolute;
    bottom: -30px;
    left: -4px;
  }
}


/* ff-youtube
   ========================================================================== */
.ff-youtube svg{
  width: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  fill: #fff;
  z-index:2;
}

.ff-video{
  display: block;
  width: 50%;
  margin: 0 auto;
  position: relative;
  margin-top: 200px;

  &:after{
    width: 100%;
    height: 100%;
    content: '';
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.3s;
  }
  img{
    max-width: 100%
  }

  &:hover{
    &:after{
      background: rgba(0,0,0,0);
    }
  }
}


/* footer
   ========================================================================== */

footer{
  position: relative;
  overflow-y: hidden;
  height: 500px;

  small{
    color: #fff;
    position: absolute;
    bottom: 20px;
    width: 80%;
    left: 10%;
    font-family: $raleway;
    font-size: 12px;
  }
}



/* stucked links
   ========================================================================== */
.ff-stucked{
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 9;
  transform: translateY(-50%);
  transition: all 0.3s;
  &.is-hidden{
    right: -200px;
  }
}

.ff-stucked__links{
  padding: 0;
  text-align: right
}

.ff-stucked__link{
  color: $blue;
  font-family: $raleway;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  height: 60px;
  line-height: 60px;
 &:hover{
   cursor: pointer;
   .ff-stucked__text{
     opacity: 1;

   }
   .ff-stucked__indicator{
       &:after{
         height: 100%;
       }
     }

  }
   &.is-active{
     .ff-stucked__text{
       opacity: 1;
     }
     .ff-stucked__indicator{
       &:after{
         height: 100%;
       }
     }
  }
}

.ff-stucked__text{
  vertical-align: middle;
  opacity: 0.4;
  transition: all 0.3s;
}

 .ff-stucked__indicator{
    width: 2px;
    height:30px;
    display: inline-block;
    content: '';

    margin: 0 5px;
    vertical-align: middle;
    position: relative;
   &:after{
     display: block;
     content:'';
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     background: $blue;
     height: 0;
     transition: all 0.3s;
   }
   &:before{
     height: 100%;
     display: block;
     content:'';
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     background: $blue;
     opacity: 0.4;
   }
  }