.ff-nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.ff-logo{
  display: inline-block;
}

.ff-links{
  display: inline-block;
  text-align: right;
  width: 80%;
}
.ff-link{
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}